

  <%= render 'layouts/hero' %>

  <div class="content_container container-fluid about-fox-dec">
    <h1>Fox Decorating</h1>

      <div class="row">
        <div class="col-sm-12 center">
          <p>Tom Fox has been installing wallpaper and painting in the Chicagoland area since 1986.  He is a graduate of the American School of Paper Hanging Arts in Commerce, Georgia.</p>
          <p>Because of his continuous work in wallcovering throughout the years, even as wallpaper declined as a trend around 2000, Tom is currently one of the most experienced and qualified paper-hangers in the Chicago suburbs.</p>
          <p>Over the years, Tom has earned a reputation for first-class work, friendly service, and a great wallpaper-installation experience.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 services_about">
          <h3>Services</h3>
          <br/>
          <p>Free Estimates</p>
          <p>Wallpaper Installation</p>
          <p>Painting, with Wallpaper Installation</p>
        </div>
      </div>

  </div>




